@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

p {
    text-align: justify;
}

body div div .jumbotron-headline {
    font-size: 2.8em;
}

body div div .latest-snippet-text {
    font-size: 1.3em;
}

.news-item-font {
    font-size: 1.5em;
}

.header-font {
    font-size: 1.8em;
}

.push-top {
    padding-top: 10px;
}

.push-bottom {
    padding-bottom: 10px;
}

#footer {
    border-top:1px solid #eee;
    margin-top:15px;
}

#footer p {
    padding-top: 15px;
}

.right-column img {
    padding-top: 25px;
    width: 100%;
}

#read-more {
    display:none;
}