html {
    background-color: #444;
    height:100vh;
}

body {
    background-color: #555;
    padding: 50px;
    padding-bottom: 70px;
    margin: 20px 100px;
    border: 5px solid black;
    text-align: center;
}

h1 { 
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color:#000;
    letter-spacing: -1px;
}
h1:after {
    display: block;
    margin: auto;
    content: "";
    background-color: #000;
    width: 75px;
    height: 5px;
    margin-top: 10px;
}

p {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    color: #ccc;
}
button {
    font-family: 'Merriweather', serif;
    color: #fff;
    display: block;
    margin: auto;
    border:none;
    background-color: #1d1d1d;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 15px;
    letter-spacing: 2px;
}
